.wrap {
    border-top   : 1px solid #121010;
    border-bottom: 1px solid #121010;
  
    .header {
      height          : 45px;
      line-height     : 45px;
      text-align      : center;
      font-size       : 15px;
      color           : #000;
      background-color: #ebb807;
      position        : sticky;
      top             : 0;
      left            : 0;
      right           : 0;
      z-index         : 9;
    }
  
    .part {
      background-color: #171414;
      margin          : 10px 0;
      border-top      : 1px solid #171414;
  
      &_title {
        color         : #aaa;
        height        : 14px;
        line-height   : 16px;
        vertical-align: text-bottom;
        font-size     : 12px;
        margin        : 14px 14px 8px;
        padding       : 0 12px;
        border-left   : 3px solid #ebb807;
      }
    }
  
    .account {
      height     : 30vw;
      padding    : 0 20px;
      display    : flex;
      align-items: center;
      position   : relative;
  
      .avatar {
        width        : 40px;
        height       : 40px;
        border-radius: 50%;
      }
  
      &_info {
        margin-left: 24px;
        line-height: 16px;
  
        :nth-child(2) {
          color: #aaa;
        }
  
        .rank_span {
          background-color: #ebb807;
          margin-left     : 5px;
          border-radius   : 3px;
          padding         : 0 5px;
        }
      }
  
      &_arrow {
        position: absolute;
        right   : 20px;
      }
    }
  
    .remain {
      display        : flex;
      justify-content: space-around;
      align-items    : center;
      height         : 80px;
      margin-top     : -5px;
  
      &_item {
        line-height: 20px;
        text-align : center;
  
        :first-child {
          line-height: 25px;
  
        }
  
        :last-child {
          color    : #999;
          font-size: 10px;
        }
      }
    }
  
    .balance {
      display  : flex;
      flex-wrap: wrap;
      height   : 150px;
  
      .balance_item {
        height      : 50%;
        width       : 50%;
        display     : flex;
        align-items : center;
        padding-left: 20px;
  
        &_logo {
          width       : 33px;
          height      : 33px;
          margin-right: 10px;
        }
  
        &_info {
          line-height: 20px;
  
          :first-child {
            color    : #999;
            font-size: 12px;
          }
        }
  
      }
    }
  
    .control {
      display    : flex;
      flex-wrap  : wrap;
      padding-top: 10px;
  
      &_item {
        width          : 25%;
        height         : 80px;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
  
        &_img {
          width : 21px;
          height: 21px;
          color : #ebb807;
        }
  
        &_des {
          height    : 14px;
          padding   : 10px 0;
          box-sizing: content-box;
          color     : #ccc;
          font-size : 12px;
        }
      }
    }
  }